.contact-bar {
    background-color: var(--first-color);
    color: var(--second-color);
}

.contact-bar a,
.contact-bar a:hover,
.contact-bar a:focus {
    color: var(--second-color);
    text-decoration: none;
}