.banner {
    position: relative;
    overflow: hidden;
    background: #fff;
    background: url(../../../public/assets/images/slider-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
}